Repository BSamodien/CAIRA, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/iac

.github/labeler.yml:

# yaml-language-server: $schema=https://json.schemastore.org/pull-request-labeler.json

# docs: https://github.com/actions/labeler
---
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          - "docs/*"
          - "**/*.md"

"area/iac":
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.tf"
          - "**/*.tfvars"
          - "**/*.bicep"
          - "**/*.bicepparam"

feat(terraform): add durable infrastructure pools for testing
  testing/infrastructure_pools/foundry_basic_private/README.md
  testing/infrastructure_pools/foundry_basic_private/main.tf
  testing/infrastructure_pools/foundry_basic_private/outputs.tf
  testing/infrastructure_pools/foundry_basic_private/terraform.tf
  testing/infrastructure_pools/foundry_basic_private/variables.tf
  testing/infrastructure_pools/foundry_standard_private/README.md
  testing/infrastructure_pools/foundry_standard_private/main.tf
  testing/infrastructure_pools/foundry_standard_private/outputs.tf
  testing/infrastructure_pools/foundry_standard_private/terraform.tf
  testing/infrastructure_pools/foundry_standard_private/variables.tf
Labels: area/docs, area/iac

feat(terraform): implement durable infrastructure data sources for faster tests and remove setup module
  reference_architectures/foundry_basic/tests/acceptance/test.tftest.hcl
  reference_architectures/foundry_basic_private/tests/acceptance/test.tftest.hcl
  reference_architectures/foundry_basic_private/tests/integration/data/main.tf
  reference_architectures/foundry_basic_private/tests/integration/data/outputs.tf
  reference_architectures/foundry_basic_private/tests/integration/data/variables.tf
  reference_architectures/foundry_basic_private/tests/integration/setup/main.tf
  reference_architectures/foundry_basic_private/tests/integration/setup/outputs.tf
  reference_architectures/foundry_basic_private/tests/integration/setup/terraform.tf
  reference_architectures/foundry_basic_private/tests/integration/setup/variables.tf
Labels: area/iac

feat(terraform): implement ephemeral agent subnet for tests and remove setup module
  reference_architectures/foundry_basic_private/tests/integration/test.tftest.hcl
  reference_architectures/foundry_standard/tests/acceptance/test.tftest.hcl
  reference_architectures/foundry_standard_private/tests/acceptance/test.tftest.hcl
  reference_architectures/foundry_standard_private/tests/integration/data/README.md
  reference_architectures/foundry_standard_private/tests/integration/data/main.tf
  reference_architectures/foundry_standard_private/tests/integration/data/outputs.tf
  reference_architectures/foundry_standard_private/tests/integration/data/variables.tf
  reference_architectures/foundry_standard_private/tests/integration/setup/main.tf
  reference_architectures/foundry_standard_private/tests/integration/setup/outputs.tf
  reference_architectures/foundry_standard_private/tests/integration/setup/terraform.tf
  reference_architectures/foundry_standard_private/tests/integration/setup/variables.tf
  reference_architectures/foundry_standard_private/tests/integration/setup_ephemeral/README.md
  reference_architectures/foundry_standard_private/tests/integration/setup_ephemeral/main.tf
  reference_architectures/foundry_standard_private/tests/integration/setup_ephemeral/outputs.tf
  reference_architectures/foundry_standard_private/tests/integration/setup_ephemeral/variables.tf
Labels: area/docs, area/iac

feat(terraform): added copyright notice to newfiles and update integration test
  reference_architectures/foundry_standard_private/tests/integration/setup_ephemeral/main.tf
  reference_architectures/foundry_standard_private/tests/integration/setup_ephemeral/outputs.tf
  reference_architectures/foundry_standard_private/tests/integration/setup_ephemeral/variables.tf
  reference_architectures/foundry_standard_private/tests/integration/test.tftest.hcl
Labels: area/iac

feat(ci): update environment variables for durable infrastructure pools
  .github/workflows/test_terraform.yml
Labels: none

feat(ci): add workflow to refresh durable infrastructure pools weekly
  .github/workflows/refresh_durable_infrastructure.yml
Labels: none

docs(readme): add documentation for testing infrastructure pools
  .github/workflows/refresh_durable_infrastructure.yml
  reference_architectures/foundry_standard_private/tests/integration/data/README.md
  reference_architectures/foundry_standard_private/tests/integration/setup_ephemeral/README.md
  testing/infrastructure_pools/README.md
Labels: area/docs

Update testing/infrastructure_pools/foundry_standard_private/README.md
  testing/infrastructure_pools/foundry_standard_private/README.md
Labels: area/docs

Update testing/infrastructure_pools/foundry_standard_private/README.md
  testing/infrastructure_pools/foundry_standard_private/README.md
Labels: area/docs

Update testing/infrastructure_pools/foundry_basic_private/README.md
  testing/infrastructure_pools/foundry_basic_private/README.md
Labels: area/docs

Update testing/infrastructure_pools/README.md
  testing/infrastructure_pools/README.md
Labels: area/docs

Update reference_architectures/foundry_standard_private/tests/integration/test.tftest.hcl
  reference_architectures/foundry_standard_private/tests/integration/test.tftest.hcl
Labels: none

Update reference_architectures/foundry_basic_private/tests/integration/test.tftest.hcl
  reference_architectures/foundry_basic_private/tests/integration/test.tftest.hcl
Labels: none

Update testing/infrastructure_pools/README.md
  testing/infrastructure_pools/README.md
Labels: area/docs

Update reference_architectures/foundry_basic_private/tests/acceptance/test.tftest.hcl
  reference_architectures/foundry_basic_private/tests/acceptance/test.tftest.hcl
Labels: none

chore(ci): linter required double spaces
  .github/workflows/refresh_durable_infrastructure.yml
Labels: none

fix(docs): update docs to match implementation
  reference_architectures/foundry_standard_private/tests/integration/data/README.md
  testing/infrastructure_pools/foundry_standard_private/variables.tf
Labels: area/docs, area/iac

chore(ci): remove commented old environment variables from workflow
  .github/workflows/test_terraform.yml
Labels: none

chore(terraform): update required Terraform version constraints
  reference_architectures/foundry_basic_private/tests/integration/data/main.tf
  reference_architectures/foundry_standard_private/tests/integration/data/main.tf
  reference_architectures/foundry_standard_private/tests/integration/setup_ephemeral/main.tf
Labels: area/iac

fix(terraform): update tf and docs to simplify cidr assignment with num value
  reference_architectures/foundry_standard_private/tests/integration/setup_ephemeral/README.md
  reference_architectures/foundry_standard_private/tests/integration/setup_ephemeral/main.tf
Labels: area/docs, area/iac

chore(terraform): update provider versions for non RA files
  .github/workflows/refresh_durable_infrastructure.yml
  reference_architectures/foundry_basic_private/tests/integration/data/main.tf
  reference_architectures/foundry_standard_private/tests/integration/data/README.md
  reference_architectures/foundry_standard_private/tests/integration/data/main.tf
  reference_architectures/foundry_standard_private/tests/integration/setup_ephemeral/main.tf
  testing/infrastructure_pools/foundry_standard_private/README.md
Labels: area/docs, area/iac

fix(scripts): exclude infrastructure pools from path validation output
  .github/scripts/tf_dirs.mjs
Labels: none
